/* === GOBAL === */

:root {
    --dunkelblau: #00505eb5;
    --blau: #00d9ffb4;
    --dunkel-grau: #333333;
    --dunkel-grau-2: #222222;
    --hell-grau-1: #666666;
    --hell-grau-2: #BEBEBE;
    --rot: #A62C21;
    --weiß: #CCCCCC;
    --schwarz: #000;
    --primaere-schriftart: Raleway;
    --sekundaere-schriftart: Helvetica Neue;
    --tertiaere-schriftart: Arial;
    --fallback-schriftart: sans-serif;
    --border-style: 2px solid;
    --border-transition: border .5s ease-in-out;
}

html {
    font-size: 16px;
}

body {
    background-color: #222222;
    margin: 0;
    font-family: var(--primaere-schriftart, --sekundaere-schriftart, --tertiaere-schriftart, --fallback-schriftart);
    background-color: var(--dunkel-grau-2);
}

* {
    box-sizing: border-box;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    section {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/* === LIVE-SERVER === */

#loom-companion-mv3 {
    display: none;
}

#shadow-host-companion {
    display: none;
}

/* === GENERELLES === */

.main-content-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: var(--blau) !important;
}

.wichtiger-text {
    font-weight: bold;
}

.screenreader {
    display: none;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.intro-container>h1 {
    font-size: 1.6rem;
}

.intro-container>p {
    font-size: 1.2rem;
}

.intro-container>h1 {
    font-size: 1.6rem;
}

.intro-container>p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {
    .intro-container {
        width: 90%;
    }

    .intro-container>p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {
    .intro-container {
        width: 100%;
    }

    .intro-container>p {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .intro-container {
        margin-bottom: 1rem;
    }
}

/* === BUTTONS === */

.btn-typ-2 {
    text-decoration: none;
    background-color: transparent;
    border: var(--border-style) var(--weiß);
    color: var(--weiß);
    padding: .4rem .6rem;
    transition: color .5s ease-in-out, var(--border-transition);
    border-radius: 6px;
}

.btn-typ-2:hover {
    color: var(--blau);
    border: var(--border-style) var(--blau);
    font-weight: normal;
}

.btn-typ-3 {
    background-color: transparent;
    border: var(--border-style) var(--dunkel-grau);
    color: var(--dunkel-grau);
    font-size: 1rem;
    transition: var(--border-transition), box-shadow .5s ease-in-out;
}

.btn-typ-3:hover {
    border: var(--border-style) var(--blau);
    box-shadow: 0 0 10px 0 var(--dunkel-grau);
    font-weight: normal;
}

/* Social Media Bar */

.social {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.social a {
    text-decoration: none;
}

.social a>img {
    height: 50px;
    width: auto;
}

/* NAVIGATIONSLEISTE */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: var(--dunkel-grau);
    box-shadow: 0 0 20px 10px var(--schwarz);
    position: fixed;
    z-index: 150;
}

#header-nav a>img {
    height: 50px;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

/* === STARTSEITE === */

.video-main {
    position: absolute;
    margin-top: -40px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    filter: brightness(.5);
    filter: blur(.100);
    z-index: -150;
}

.logo {
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    z-index: 150;
}



@media (max-width: 3840px) {
    .video-main {
        height: 2160px;
    }
}

@media (max-width: 3440px) {
    .logo {
        margin-top: -250px;
    }
    .video-main {
        height: 1440px;
    }
}

@media (max-width: 1920px) {
    .logo {
        margin-top: 0px;
    }
    .video-main {
        height: 1080px;
    }
}

@media (max-width: 1600px) {
    .logo {
        top: 160px;
        bottom: 100%; 
    }
    .video-main {
        height: 768 px;
    }
}

@media (max-width: 1440px) {
    .logo {
        top: 160px;
        bottom: 100%; 
    }
    .video-main {
        height: 900px;
    }
}

@media (max-width: 1366px) {
    .logo {
        top: 160px;
        bottom: 100%; 
    }
    .video-main {
        height: 768px;
    }
}

@media (max-width: 1280px) {
    .logo {
        top: 160px;
        bottom: 100%; 
    }
    .video-main {
        height: 800px;
    }
}

@media (max-width: 1024px) {
    .video-main {
        top: -20px;
        bottom: 100%; 
    }
    .video-main {
        height: 768px;
    }
}

@media (max-width: 960px) {
    .video-main {
        top: -40px;
        bottom: 100%; 
    }
    .video-main {
        height: 640px;
    }
}

@media (max-width: 854px) {
    .video-main {
        top: -80px;
        bottom: 100%; 
    }
    .video-main {
        height: 480px;
    }
}

@media (max-width: 800px) {
    .video-main {
        top: -90px;
        bottom: 100%; 
    }
    .video-main {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .logo {
        display: flex;
        margin-top: -20px;
    }
    .video-main {
        height: 480px;
    }
}

@media (max-width: 640px) {
    .logo {
        margin-top: -10px;
    }
    .video-main {
        height: 480px;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-top: 10px;
    }
    .video-main {
        display: none;
    }
}

@media (max-width: 320px) {
    .logo {
        margin-top: 90px;
    }
}

/* === HEADER-BANNER === */
/*
#header-banner-start {
    width: 100%;
    height: auto;
    margin-top: -80px;
    padding-bottom: 1000px;
    position: relative;
    background: url("../img/bg01.png");
    box-shadow: 0 0 30px 10px var(--schwarz);
}*/

#header-banner {
    width: auto;
    height: 100%;
    padding:5%;
    margin-top: 50px;
    background: url("../img/bg02.png");
    box-shadow: 0 0 30px 10px var(--schwarz);
}

/* === SERVICE-BEREICH === */

#service-bereich {
    background-color: var(--dunkel-grau-2);
    color: var(--weiß);
    padding: auto;
}

.service-box {
    text-align: center;
    width: 80%;
}

.service-box h1 {
    font-size: 1.4rem;
}

#service-bereich .row:nth-of-type(2)>.col-2:first-of-type>.service-box {
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2)>.col-2:nth-of-type(2)>.service-box {
    margin-left: auto;
    margin-right: auto;
}

.service-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 var(--blau);
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s;
}

.service-icon:hover {
    transform: rotateZ(360deg);
}

#guenstig-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") 0 0;
}

#schnell-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") -120px 0;
}

#modern-icon {
    background: var(--dunkel-grau-2) url("../img/services-sprite.png") -240px 0;
}

.hinweis {
    text-align: center;
}

@media (max-width: 768px) {
    #service-bereich>.container>.row:nth-of-type(2)>.col-2>.service-box {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .service-box {
        width: 100%;
    }
}

/* === VIDEO-BEREICH === */

#video-bereich {
    background-color: var(--dunkel-grau-2);
    color: var(--weiß);
    padding: auto;
}

#video-bereich video {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 20px 0 var(--blau);
    border-radius: 6px;
}

#videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



@media (max-width: 1440px) {

    #video-bereich video {
        width: 45%;
    }
}

@media (max-width: 1024px) {

    #video-bereich video {
        width: 60%;
    }
}

@media (max-width: 768px) {

    #video-bereich video {
        width: 75%;
    }
}

@media (max-width: 480px) {

    #video-bereich video {
        width: 100%;
    }
}

/* === GAME-BEREICH === */

#game-bereich {
    background-color: var(--dunkel-grau-2);
    color: var(--weiß);
    padding: 0;
    margin: 0;
}

#game-bereich iframe {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 0 20px 0 var(--blau);
    border-radius: 6px;
}

#game-container {
    display: flex;
    justify-content: center;  /* zentriert horizontal */
    align-items: center;      /* zentriert vertikal, falls Höhe gesetzt */
    flex-direction: column;   /* sorgt für sauberes vertikales Stapeln */
    text-align: center;
    padding: 2rem 1rem;
}

#game-container a {
    text-decoration: none;
    color: var(--weiß);
    font-size: 1.5rem;
    font-weight: 100;
}
#game-container col-6 {
    padding: 0;
    margin: 0;
}

#game-container a:hover {
    color: var(--blau);
}


@media (max-width: 1440px) {

    #game-bereich iframe {
        width: 45%;
    }
}

@media (max-width: 1024px) {

    #game-bereich iframe {
        width: 60%;
    }
}

@media (max-width: 768px) {

    #game-bereich iframe {
        width: 75%;
    }
}

@media (max-width: 480px) {

    #game-bereich iframe {
        width: 100%;
    }
}

/* === FOOTER-STARTSEITE === */

#footer-start {
    width: 100%;
    height: 100px;
    background-color: #171717;
    position: relative;
    bottom: 0;
    z-index: 100;
    background-color: var(--dunkel-grau);
    box-shadow: 0 0 20px 10px var(--schwarz);
    height: 2.8rem;
    color: var(--weiß);
    position: fixed;
}

.copyright {
    color: var(--weiß);
}



#footer-start-nav {
    float: right;
}

#footer-start-nav a {
    margin-left: 10px;
    text-decoration: none;
}

#footer-start-nav a:link {
    color: var(--weiß);
}

#footer-start-nav a:visited {
    color: var(--weiß);
}

#footer-start-nav a:active {
    color: var(--weiß);
}

#footer-start-nav a:hover {
    color: var(--blau);
    text-decoration: underline;
}

@media (max-width: 160px) {
    #footer-start span {
        display: none;
    }
}

/* === GRID SYSTEM === */

.container {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-4 {
    width: 66.666%;
}

.col-6 {
    width: 100%;
}

@media (max-width: 1024px) {
    .col-1 {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }
}